In [3]:
import pandas as pd

In [34]:
n = int(input("Enter an integer greater than zero: "))
while n <= 0:
  print('Value is lower than Zero.')
  n = int(input("Enter an integer greater than zero: "))

Enter an integer greater than zero: 4

In [35]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [36]:
odd

[1, 3, 5, 7]

In [37]:
even

[0, 2, 4, 6]

In [38]:
fibo

[0, 1, 1, 2]

In [39]:
len(even) == len(odd) == len(fibo)

True

In [40]:
df = pd.DataFrame({'Even': even, "Odd": odd, 'Fibonacci': fibo})
df

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2